.titleGridPos{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.titleFlexLayout{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titleFlexLayout > h1{
  font-size: 15vw;
}

.climate{
  align-self: flex-start;
}

.change{
  align-self: flex-end;
}
