.buttonLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.buttonGridPos{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

button{
    width: 100%;
}