.InputBox{
    background: rgb(52, 207, 32);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 20vh;
    width: 20vw;
    z-index: 1;
    background: white;
    position: absolute;
    bottom: 0;
}

.InputBox > p{
    color: black;
}