.transition{
    width: 100vw;
    height: 0;
    background: #000;
    position: absolute;
    bottom: 0px;
  
    animation: moveUp 3s;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes moveUp {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;  
  }
}

.transitionHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #000;
  justify-content: space-between;
}

.transitionHeaderGridPos{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
  
.transitionHeader h1{
  color: #ffffff;
  font-size: 4vw;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}